# telegram bot
TELEGRAM_TOKEN=

# GPT-Sovits api.py
TTS_API_PATH=
TTS_API_LANGUAGE=
TTS_API_TOPK=
TTS_API_TOPP=
TTS_API_temperature=

# 普通权限白名单
ALLOWED_IDS=
# 高级权限白名单
ALLOWED_USER_IDS=
AIFANYI_ALLOWED_IDS=
# OpenAI 
OPENAI_API_KEY=
OPENAI_PROMPT_ROLE=""
OPENAI_ENGINE=""
OPENAI_API_BASE=""

# BotName
MEOW_NAME= 

# 一言API
# 默认 https://v1.hitokoto.cn/ ，可改成其他地址以便提升访问速度
HITOKOTO_API_URL=""